
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #d6a735;
    padding:.9375rem;
    height: 100%;
    margin-bottom: 70px;
}

.barNav {
    background-color: #f50400;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: .625rem;
}

.barNav a {
    margin: 5px;
    color: rgb(17, 16, 16);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;  
    text-align: center;
   
}

.barNav a:hover {
    background-color: #D98825;
    border-radius: 15px;
  } 

@media screen and (min-width: 375px) {
    .barNav {
        justify-content: flex-start;
      
    }

    .barNav a {
        margin: 0 0px;
    }
}

@media screen and (min-width: 700px) {
    .barNav {
        justify-content: flex-start;
        width: 100%;
        
    }

    .barNav a {
        margin: 0 0px;
        align-items: center;
    }
}

.title_home{
    color: rgb(21, 7, 1);
    font-size: .625rem;
    margin-left: 20px;
}


.Footer_blog {
    background-color:#f50400;
    color: beige;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
}

  /* ------formulario------- */

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #f50400;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 600px) {
    
    form {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 50px;
        background-color: #f4f4f4;
        border-radius: 5px;
    }
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 400px) {
    form {
        padding: 10px;
    }
}